body{
    background-color: rgb(105,105,105);
    font-size:1.5em;
}
h1{
    font-weight:bold;
    color: rgb(255,255,255);
    font-family:sans, 'Aclonica';
   
}
h3{
    font-weight:bold;
    color:rgb(255,255,255);
    font-family:sans,'Aclonica';
}
p{
    font-size:1.3em;
}
header{
    background-color:rgb(0,0,0);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    text-align: center;
}
input{
    background-color: rgb(0,0,0);
    color:rgb(255,255,255);
    width:100%;
    height:1.5em;
    border-radius:1.5em;
    text-align: center;
    height:2.5em;
    border:1px;
}
label{
    font-size:1em;
    color:rgb(255,255,255);
    font-family: sans, 'Aclonica';
}
.buttonStyling{
    width:100%;
    background-color: rgb(0,0,0);
    color:rgb(255,255,255);
    border-radius:1em;
    font-family: sans, 'Aclonica';
}

form{
    width:100%;
}
label{
    width:100%;
}
select{
    width:100%;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-size:1.5em;
    font-family: san, 'Aclonica';

}
.nameSection{
    margin-top:150px;
    width:80%;
    margin-left:10%;
    margin-right:10%;
}
.selectCard{
    display: none;
}
.level{
    display: none;
}
.stats{
    display: none;
    color:rgb(255,255,255);
    font-family: sans, 'Aclonica';
    text-align: center;
}
.CardsInPlay{
    display: none;
    color:rgb(255,255,255);
    font-family: sans, 'Aclonica';
    text-align: center;
}
.cardEditors{
    display: none;
}
.chooseCard{
    display: none;
}
.removeCard{
    display: none;
}
